<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сохранить текст</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/form.css') }}">
</head>
<body>
    <div class="container">
        <h2>Введите текст</h2>
        <form action="/upload" method="post">
            <textarea name="text_content" rows="10" cols="50" placeholder="Введите текст..."></textarea><br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
</body>
</html>
